@import "../../app.scss";

.selectedContract {
    background-color: #f0f0f0;
}

.addButton {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;    
}

.cardMeta :global(.ant-card-meta-description) {
    @include monofont;
}