@import "../../common.scss";

.contractCard {
    cursor: pointer;
}
.selectedContract {
    background-color: #e0e0e0;
}

.addButton {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;    
}

.cardMeta :global(.ant-card-meta-description) {
    @include monospace;
}