@import '../../common.scss';

.contractCard {
    cursor: pointer;
    opacity: 0.75;
    border: 2px solid transparent;
    border-radius: 8px;
    margin-bottom: 0.25rem;

    &.selectedContract {
        border-color: #a0a0a0;
        background-color: #f0f0f0;
        opacity: 1;
    }

    :global(.ant-card-extra) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        width: 100%;
    }
}

.addButton {
    width: 100%;
    margin-top: 1rem;
}

.cardMeta :global(.ant-card-meta-description) {
    @include monospace;
}
