/public/bundle.js
/node_modules
/src/stubs/smarts/build
/.vscode
/.idea
/tmp
~*
*.zip
.DS_Store

/.next
.env.local

*.tsbuildinfo

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions