.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  font-size: smaller;
  font-family: monospace;
}
