@import "styles/utils.scss";

.root {
  background: #fdf4e3;
}

.content {
  @include container;
  @include content;

  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chainSelect {
  min-width: 150px;
}
