@import '../../common.scss';

.header {
    @include content;
    background: white;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
}

.content {
    @include content;
    padding-top: 0.5rem;
}

.networkSelect {
    margin: 0.5rem 0;
}
