$monospaceFont: 'Roboto Mono', monospace;

@mixin monospace {
    font-family: $monospaceFont;
}

@mixin content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;    
}

@mixin undoContent {
    margin-left: -1.5rem;
    margin-right: -1.5rem;    
}